    <!--services start -->
    <div class="content" id="menu-2">
      <div class="container">
        <div class="row templatemo_bordergapborder">
          <div class="col-md-3 col-sm-12 templatemo_leftgap">
            <div class="templatemo_mainimg templatemo_botgap"><img src="images/templatemo_service1.jpg" alt="service image"></div>
            <div class="templatemo_mainservice templatemo_botgap">
              <div class="templatemo_linkservice"><a class="show-1 templatemo_homeservice" href="#">Go Back</a></div>
            </div>
          </div>

          <div class="templatemo_col37 col-sm-12 templatemo_leftgap">
            <div class="templatemo_graybg">
              <div class="templatemo_frame">
                <h2>Our Services</h2>
                <div class="clear"></div>
                <p>Matrix is new metro style website template and it is available for free download. Credit goes to <a rel="nofollow" href="http://unsplash.com" target="_parent">Unsplash</a> for all images used in this template. You may contact us if
                  you have anything.<br><br>
                  Praesent ut vehicula lorem. Nulla nec tellus id ligula egestas luctus fringilla vel dui. Nulla quis quam eget purus aliquam molestie. Nunc ligula magna, viverra eu eros vitae, aliquam tempor nunc. Pellentesque habitant morbi
                  tristique senectus et netus et malesuada fames ac turpis egestas.<br><br>
                  Suspendisse eget laoreet nunc. Suspendisse condimentum metus neque, at adipiscing metus venenatis eu. Mauris sit amet erat laoreet, ullamcorper justo sit amet, vehicula purus. Nulla sagittis pulvinar erat, sit amet venenatis lacus
                  fringilla vitae.<br><br>
                  Integer sit amet libero sed dui pretium tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam neque erat, euismod ut pulvinar in, bibendum eget mi. Phasellus porttitor purus sit
                  amet condimentum mattis.</p>
              </div>
            </div>
          </div>
          <div class="templatemo_col37 col-sm-12 templatemo_leftgap templatemo_topgap">
            <div class="templatemo_mainimg templatemo_botgap"><img src="images/templatemo_service2.jpg" alt="service image"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- services end -->
