  <!-- about start -->
  <div class="content container">
    <div class="row templatemo_bordergapborder">
      <!--vertical Tabs-->
      <div id="ab">
        <div class="col-md-3 col-sm-12 templatemo_leftgap_about">
          <ul class="resp-tabs-list templatemo_tab">
            <li>Our Team</li>
            <li>Our History</li>
            <li>Our Vision</li>
          </ul>
          <div class="templatemo_aboutlinkwrapper">
            <div class="templatemo_link"><a class="show-1 templatemo_homeabout" href="#">Go Back</a></div>
          </div>
        </div>
        <div class="resp-tabs-container templatemo_aboutcontainer">
          <div>
            <div class="templatemo_col50 templatemo_rightgap_about">
              <div class="templatemo_graybg templatemo_botgap">
                <div class="templatemo_frame">
                  <h2>Our Team</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc
                    erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.<br><br>
                    Quisque vitae malesuada risus. Quisque at consequat erat. Cras sed fermentum ipsum. Maecenas aliquet commodo dui vel dapibus. Cras quis mi non nisl posuere vestibulum vitae id ipsum. Pellentesque mollis sem non facilisis
                    aliquam. Curabitur eu fermentum odio.</p>
                </div>
              </div>
            </div>
            <div class="templatemo_col50 templatemo_leftgap templatemo_botgap"><img src="images/templatemo_about.jpg" alt="about image"></div>
          </div>
          <div>
            <div class="templatemo_col50 templatemo_rightgap_about">
              <div class="templatemo_graybg templatemo_botgap">
                <div class="templatemo_frame">
                  <h2>Our History</h2>
                  <p>Pellentesque id ullamcorper justo. Vestibulum imperdiet justo vitae lacus pulvinar, ut tempus lacus porta. Nulla eget tellus elit. Proin ipsum mi, dictum nec massa quis, malesuada feugiat nisl. Nam tempus at eros ut
                    volutpat.<br><br>
                    Feel free to download our templates for your websites. Aenean consectetur, libero non dapibus posuere, odio quam fringilla diam, et rutrum felis tortor gravida massa. Aenean tincidunt dolor id augue consectetur, eget suscipit
                    lectus facilisis. Integer eleifend augue non euismod viverra.</p>
                </div>
              </div>
            </div>
            <div class="templatemo_col50 templatemo_leftgap templatemo_botgap"><img src="images/templatemo_team.jpg" alt="history image"></div>
          </div>
          <div>
            <div class="templatemo_col50 templatemo_rightgap_about">
              <div class="templatemo_graybg templatemo_botgap">
                <div class="templatemo_frame">
                  <h2>Our Vision</h2>
                  <p>We provide <a href="#">mobile website templates</a> for everyone. Suspendisse eget iaculis velit, at ullamcorper justo. Nulla mi elit, mollis sit amet eros eget, tempus accumsan diam. Nunc blandit nisl eu massa ultrices, eget
                    adipiscing purus posuere. Maecenas sapien libero, tempor eu pulvinar in, blandit vitae sem.<br><br>
                    Vestibulum pellentesque turpis orci, sit amet varius velit aliquet id. In fringilla nisi id lorem scelerisque, vitae elementum quam porta. Vestibulum bibendum egestas velit, id mollis lacus euismod nec. Duis fringilla dui sit
                    amet felis eleifend auctor. Duis rhoncus, nulla eget egestas consequat, justo purus elementum ipsum, ut blandit quam libero sit amet metus.</p>
                </div>
              </div>
            </div>
            <div class="templatemo_col50 templatemo_leftgap templatemo_botgap"><img src="images/templatemo_vision.jpg" alt="vision image"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 templatemo_leftgap templatemo_aboutlinkwrapper1">
        <div class="templatemo_aboutback templatemo_botgap">
          <div class="templatemo_link"><a class="show-1 templatemo_homeabout" href="#">Go Back</a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- about end -->
