    <!-- contact start -->
    <div class="content" id="menu-6">
      <div class="container">
        <div class="row templatemo_bordergapborder">
          <div class="col-md-3 col-sm-12 templatemo_leftgap">
            <div class="templatemo_mainimg templatemo_botgap"><img src="images/templatemo_contact1.jpg" alt="contact image"></div>
            <div class="templatemo_maincontact templatemo_botgap">
              <div class="templatemo_linkcontact"><a class="show-1 templatemo_homecontact" href="#">Go Back</a></div>
            </div>
          </div>

          <div class="templatemo_col37 col-sm-12 templatemo_leftgap">
            <div class="templatemo_graybg templatemo_paddinggap">
              <h2>Contact Us</h2>
              <div class="clear"></div>
              <form role="form">
                <div class="templatemo_form">
                  <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Your Name" maxlength="40">
                </div>
                <div class="templatemo_form">
                  <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" maxlength="40">
                </div>
                <div class="templatemo_form">
                  <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" maxlength="60">
                </div>
                <div class="templatemo_form">
                  <textarea name="message" class="form-control" id="message" placeholder="Your Message..."></textarea>
                </div>
                <div class="templatemo_form"><button type="button" class="btn btn-primary">Send</button></div>
              </form>
            </div>
          </div>
          <div class="templatemo_col37 col-sm-12 templatemo_leftgap templatemo_topgap">
            <div class="templatemo_graybg templatemo_paddinggap">
              <h2>Our Location</h2>
              <div class="clear"></div>
              <div class="templatemo_contactmap">
                <div id="templatemo_map"></div>
              </div>
              <div class="templatemo_address">
                24-66 Nam auctor elementum dolor 10220<br>
                Tel: 010-020-0340 Email: info@company.com
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- contact end -->
