	<!-- portfilio start -->
	<div class="content" id="menu-3">
	  <div class="container">
	    <div class="col-md-3 col-sm-6 templatemo_leftgap">
	      <div class="templatemo_insideportfolio templatemo_botgap">
	        <div class="templatemo_portfoliotext">
	          <h2>Portfolio</h2>
	          <div class="clear"></div>
	          Suspendisse condimentum metus neque, at adipiscing metus venenatis eu. Mauris sit amet erat laoreet, ullamcorper justo sit amet, vehicula purus. Nulla sagittis pulvinar erat, sit amet venenatis lacus fringilla vitae.
	        </div>
	      </div>
	      <div class="templatemo_portfolioback">
	        <div class="templatemo_link"><a class="show-1 templatemo_homeportfolio" href="#">Go Back</a></div>
	      </div>

	    </div>
	    <div class="col-md-3 col-sm-6 templatemo_leftgap">
	      <div class="templatemo_botgap templatemo_portfotopgap gallery-item">
	        <img src="images/portfolio/templatemo_portfolio01.jpg" alt="gallery 1">
	        <div class="overlay">
	          <a href="images/portfolio/templatemo_portfolio01.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
	        </div>
	      </div>
	      <div class="templatemo_botgap templatemo_topgap gallery-item">
	        <img src="images/portfolio/templatemo_portfolio02.jpg" alt="gallery 2">
	        <div class="overlay">
	          <a href="images/portfolio/templatemo_portfolio02.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
	        </div>
	      </div>
	      <div class="templatemo_botgap templatemo_topgap gallery-item">
	        <img src="images/portfolio/templatemo_portfolio03.jpg" alt="gallery 3">
	        <div class="overlay">
	          <a href="images/portfolio/templatemo_portfolio03.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
	        </div>
	      </div>
	    </div>
	    <div class="col-md-3 col-sm-6 templatemo_leftgap">
	      <div class="templatemo_botgap templatemo_topgap gallery-item">
	        <img src="images/portfolio/templatemo_portfolio04.jpg" alt="gallery 4">
	        <div class="overlay">
	          <a href="images/portfolio/templatemo_portfolio04.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
	        </div>
	      </div>
	      <div class="templatemo_botgap templatemo_topgap gallery-item">
	        <img src="images/portfolio/templatemo_portfolio05.jpg" alt="gallery 5">
	        <div class="overlay">
	          <a href="images/portfolio/templatemo_portfolio05.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
	        </div>
	      </div>
	      <div class="templatemo_botgap templatemo_topgap gallery-item">
	        <img src="images/portfolio/templatemo_portfolio06.jpg" alt="gallery 6">
	        <div class="overlay">
	          <a href="images/portfolio/templatemo_portfolio06.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
	        </div>
	      </div>
	    </div>
	    <div class="col-md-3 col-sm-6 templatemo_leftgap">
	      <div class="templatemo_botgap templatemo_topgap gallery-item">
	        <img src="images/portfolio/templatemo_portfolio07.jpg" alt="gallery 7">
	        <div class="overlay">
	          <a href="images/portfolio/templatemo_portfolio07.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
	        </div>
	      </div>
	      <div class="templatemo_botgap templatemo_topgap gallery-item">
	        <img src="images/portfolio/templatemo_portfolio08.jpg" alt="gallery 8">
	        <div class="overlay">
	          <a href="images/portfolio/templatemo_portfolio08.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
	        </div>
	      </div>
	      <div class="templatemo_botgap templatemo_topgap gallery-item">
	        <img src="images/portfolio/templatemo_portfolio09.jpg" alt="gallery 9">
	        <div class="overlay">
	          <a href="images/portfolio/templatemo_portfolio09.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- portfolio end -->
